<% input_opts ||= {} %>
<div class='password-criteria-container'>
  <ul class='password-criteria soft-shadow'>
    <li><div class='status status--length'></div><%= t('.length') %></li>
    <li><div class='status status--letter'></div><%= t('.letter') %></li>
    <li><div class='status status--number'></div><%= t('.number') %></li>
    <li><div class='status status--special'></div><%= t('.special') %></li>
  </ul>
  <%=
    form.password_field(
      :password,
      {
        autocomplete: 'off',
        placeholder: User.human_attribute_name(:password),
        onkeypress: 'Familyties.auth.checkPasswordCriteria(event)',
        onpaste: 'Familyties.auth.checkPasswordCriteria(event)',
        oninput: 'Familyties.auth.checkPasswordCriteria(event)',
        onfocus: 'Familyties.auth.enablePasswordCriteria(event)',
        onblur: 'Familyties.auth.disablePasswordCriteria(event)',
      }.merge(input_opts)
    )
  %>
</div>
