<%=
  render(
    layout: 'settings_template',
    locals: { nav_links: nav_links, heading: t("settings.users.index.heading") }
  ) do
%>

<% if can?(:create, :user_invitation) %>
<%= render('user_invitation_form') %>
<% end %>

<table class='settings-users-index-table'>
  <thead>
    <tr>
      <td class='name'><%= t('settings.users.index.table.header.name') %></td>
      <td class='email'><%= t('settings.users.index.table.header.email') %></td>
      <td class='roles'><%= t('settings.users.index.table.header.role') %></td>
      <td class='roles'><%= t('settings.users.index.table.header.status') %></td>
      <% if current_user.has_role?(:leader) %>
      <td class='actions'><%= t('settings.users.index.table.header.actions') %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr class='settings-users-index-table__row' data-id='<%= id_for(user) %>'>
      <td class='name'><%= name_for(user) %></td>
      <td class='email'><%= user.email %></td>
      <td class='roles'><%= role_for(user) %></td>
      <td class='status'><%= status_for(user) %></td>
      <% if current_user.has_role?(:leader) %>
      <td class='actions'><%= (actions_for(user) || '-').html_safe %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
