<%=
  form_for(
    user,
    as: :user,
    url: user_registration_path,
    html: {
      class: 'account__update-password-form',
      method: :put,
      onsubmit: "Familyties.settings.apiPost(event, '#{t('account.index.form.confirmation')}', true)"
    }
  ) do |f|
%>
  <div class="field">
    <%= f.label :current_password, User.human_attribute_name(:current_password) %><br />
    <%= f.password_field :current_password, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :password, User.human_attribute_name(:password) %><br />
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit(t('account.index.form.submit'), class: 'cta cta--primary') %>
  </div>
<% end %>
