
<%=
  render(
    layout: 'settings_template',
    locals: { nav_links: nav_links, heading: nil }
  ) do
%>
  <div class='settings-template__section-heading'>
    <%= t('account.index.section_headings.profile') %>
  </div>
  <div class='account__user-attributes-container'>
    <%= render(partial: 'update_user_form', locals: { user: @user }) %>
    <%= react_component('avatar-editor', { user: @user_json }) %>
  </div>

  <div class='settings-template__section-heading'>
    <%= t('account.index.section_headings.reset_password') %>
  </div>
  <%= render(partial: 'update_password_form', locals: { user: @user }) %>

  <h3><%= t(".cancel") %></h3>

  <p>
    <%=
      button_to(
        t(".cancel"),
        user_registration_path(@user),
        data: { confirm: t(".confirm_cancel") },
        method: :delete
      )
    %>
  </p>

<% end %>
