<%= render "layouts/flash", flash: flash %>

<%= react_component('avatar-editor', { user: @user_json }) %>

<h1>
  <%= t(".heading", name: @user.name) %>
</h1>

<%=
  form_for(
    @user,
    as: :user,
    url: api_v1_user_path(@user),
    html: {
      class: 'account__update-user-form',
      method: :put,
      onsubmit: "Familyties.settings.apiPost(event, '#{t('.form.confirmation')}')"
    }
  ) do |f|
%>
  <div class="field">
    <%= f.label :first_name, User.human_attribute_name(:first_name) %><br />
    <%= f.text_field :first_name, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :last_name, User.human_attribute_name(:last_name) %><br />
    <%= f.text_field :last_name, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit t(".form.submit") %>
  </div>
<% end %>

<%=
  form_for(
    @user,
    as: :user,
    url: user_registration_path,
    html: {
      class: 'account__update-password-form',
      method: :put,
      onsubmit: "Familyties.settings.apiPost(event, '#{t('.form.confirmation')}', true)"
    }
  ) do |f|
%>
  <div class="field">
    <%= f.label :current_password, User.human_attribute_name(:current_password) %><br />
    <%= f.password_field :current_password, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :password, User.human_attribute_name(:password) %><br />
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, User.human_attribute_name(:password_confirmation) %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit t(".form.submit") %>
  </div>
<% end %>



<h3><%= t(".cancel") %></h3>

<p>
  <%=
    button_to(
      t(".cancel"),
      user_registration_path(@user),
      data: { confirm: t(".confirm_cancel") },
      method: :delete
    )
  %>
</p>
