<div class="mobile-header">
  <div class="mobile-header__menu-icon">
    <%= inline_svg_tag("icons/menu.svg", height: "28px", width: "28px" ) %>
  </div>

  <div class="mobile-header__logo">
    <%= link_to(root_path) do %>
      <%= inline_svg_tag("logo.svg", height: "36px", width: "36px" ) %>
    <% end %>
  </div>
</div>

<nav class="mobile-header-dropdown inactive">
  <div class="mobile-header-dropdown__close">
    <%= inline_svg_tag("icons/x.svg", height: "24px", width: "24px" ) %>
  </div>

  <div class="mobile-header-dropdown__profile">
    <%= link_to(root_path) do %>
      <img src="<%= current_user_presenter.avatar.dig(:url, :thumb) %>" />
    <% end %>
    <span><%= current_user.first_name.downcase %></span>
  </div>

  <ul class="mobile-header-dropdown__links">
    <li class="mobile-header-dropdown__link-element">
      <%= link_to(t(".links.my_photos"), photos_path) %>
    </li>

    <li class="mobile-header-dropdown__link-element">
      <%= link_to(t(".links.account"), account_index_path) %>
    </li>

    <li class="mobile-header-dropdown__link-element mobile-header-dropdown__link-element--settings">
      <%= link_to(settings_path) do %>
        <%=t(".links.settings") %>
      <% end %>
    </li>

    <li class="mobile-header-dropdown__link-element mobile-header-dropdown__link-element--product-feedback">
      <%= link_to("#") do %>
        <%= t(".links.product_feedback") %>
        <%= inline_svg_tag("icons/speaker.svg", width: "22px", height: "22px") %>
      <% end %>
    </li>

    <li class="mobile-header-dropdown__link-element">
      <%= link_to(t(".links.log_out"), destroy_user_session_path) %>
    </li>
  </ul>
</nav>

<div class="mobile-header-dropdown__overlay inactive"></div>
