<div class='settings-template'>
  <ul class='settings-template__menu'>
    <% nav_links.each do |nl| %>
    <li class='<%= 'selected' if nl[:selected] %>'>
      <a href=<%= nl[:path] %>>
        <%= nl[:label] %>
      </a>
    </li>
    <% end %>
  </ul>

  <div class='settings-template__content'>
    <%= render 'layouts/flash', flash: flash %>
    <% if heading.present? %>
    <p class='settings-template__heading'><%= heading %></p>
    <% end %>

    <%= yield %>
  </div>
</div>
